body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(90deg,rgba(133, 109, 101, 1) 0%, rgba(196, 159, 120, 1) 50%, rgba(247, 224, 178, 1) 100%);
}

.rotate-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,rgba(133, 109, 101, 1) 0%, rgba(196, 159, 120, 1) 50%, rgba(247, 224, 178, 1) 100%);
    z-index: 9999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rotate-overlay h1 {
    font-family: 'VT323';
    font-weight: 400;
    color:rgb(62, 57, 53);
    text-shadow: 2px 2px 3px rgba(30, 30, 30, 0.4);
    font-size: 34px;
    text-align: center;
}

.game-wrapper {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.d-none {
    display: none !important;
}

h1 {
    font-family: 'VT323';
    font-weight: 400;
    color:rgb(62, 57, 53);
    text-shadow: 2px 2px 3px rgba(30, 30, 30, 0.4);
}

h2 {
    font-family: 'VT323';
    font-weight: 400;
    color:rgb(62, 57, 53);
    margin-bottom: 30px;
    text-shadow: 2px 2px 3px rgba(30, 30, 30, 0.4);
}

p {
    font-family: 'VT323';
    font-weight: 400;
    color:rgb(62, 57, 53);
}

a {
    text-decoration: none;
    all: unset;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

canvas {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 12px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35), 0 7px 10px rgba(0, 0, 0, 0.25);
}

.startscreen {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 12px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35), 0 10px 15px rgba(0, 0, 0, 0.25);
}

.startscreen > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.canvas-wrapper {
    position: relative;
    width: 100%;
    min-height: 0;
}

.content-winner,
.content-game-over {
    position: absolute;
    top: 48.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.content-start .beige-background,
.content-winner .beige-background,
.content-game-over .beige-background {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
}

.content-start .button,
.content-winner .button,
.content-game-over .button {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.content-start h1,
.content-winner h1,
.content-game-over h1 {
    font-size: 34px;
    margin: 0;
}

.content-start p,
.content-winner p,
.content-game-over p {
    width: 250px;
    font-size: 17px;
    text-align: center;
}

.winner-button-area {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.button {
    position: relative;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.button img {
    display: block;
    height: auto;
    border-radius: 7px;
}

.button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(62, 57, 53);
    font-family: 'VT323';
    font-weight: 400;
    font-size: 18px;
}

dialog {
    background-color: #dfca99;
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 0; 
    width: 80%;
    padding: 40px 30px 40px 30px; 
}

dialog::backdrop {
  background: rgba(158, 151, 136, 0.3);
  backdrop-filter: blur(6px);
}

.imprint-headline {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 20px;
}

.imprint-text {
    font-size: 18px;
}