body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg,rgba(133, 109, 101, 1) 0%, rgba(196, 159, 120, 1) 50%, rgba(247, 224, 178, 1) 100%);
}

.d-none {
    display: none !important;
}

h1 {
    font-family: 'VT323';
    font-weight: 400;
    font-size: 38px;
    color:rgb(62, 57, 53);
    margin-bottom: 30px;
    text-shadow: 2px 2px 3px rgba(30, 30, 30, 0.4);
}

h2 {
    font-family: 'VT323';
    font-weight: 400;
    font-size: 24px;
    color:rgb(62, 57, 53);
    margin-bottom: 30px;
    text-shadow: 2px 2px 3px rgba(30, 30, 30, 0.4);
}

p {
    font-family: 'VT323';
    font-weight: 400;
    font-size: 19px;
    color:rgb(62, 57, 53);
}

a {
    text-decoration: none;
    all: unset;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

canvas {
    /* background-color: black; */
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35), 0 10px 15px rgba(0, 0, 0, 0.25);
}

dialog {
    background-color: #dfca99;
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 0; 
    width: 600px;
    height: 500px;
    padding: 30px 30px 30px 30px; 
}

dialog::backdrop {
  background: rgba(158, 151, 136, 0.3);
  backdrop-filter: blur(6px);
}

.startscreen {
    width: 960px;
    height: 540px;
    margin-bottom: 24px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35), 0 10px 15px rgba(0, 0, 0, 0.25);
}

.startscreen > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.startscreen .content-start {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.beige-background {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 330px;
    height: auto;
    z-index: 1;
}

.startscreen h1,
.startscreen h2,
.startscreen p,
.startscreen .button {
    z-index: 2;
}

.startscreen h1 {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.startscreen p {
    position: absolute;
    width: 260px;
    text-align: center;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.startscreen .button {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}