.button-area {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.icon-area {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.space {
    width: 30px;
}

.button {
    position: relative;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.button img {
    display: block;
    height: auto;
    border-radius: 7px;
}

.button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(62, 57, 53);
    font-family: 'VT323';
    font-weight: 400;
    font-size: 18px;
}

.sound-icon {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fullscreen-icon,
.miniscreen-icon {
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.home-icon {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* .button-area svg {
    height: 28px;
    width: 28px;
    display: block;
    margin: auto 0;
} */