.button-area {
    width: 960px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.button {
    position: relative;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.button img {
    display: block;
    height: auto;
    border-radius: 8px;
}

.button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(62, 57, 53);
    font-family: 'VT323';
    font-weight: 400;
    font-size: 19px;
}