.button-area {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 99;
    padding: 18px;
}

.link-area {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.mobile-button-area {
    touch-action: none;
    user-select: none;
}

.link span {
    color: rgb(62, 57, 53);
    font-family: 'VT323';
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

.home-icon {
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fullscreen-icon,
.miniscreen-icon {
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sound-icon {
    width: 29px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}