@media (max-width: 1366px) {
    .game-wrapper {
        width: calc(100% - 20px);
        max-width: none;
    }

    canvas {
        width: calc(100% - 0px) !important;
        height: auto !important;
    }
}

@media (max-width: 850px) {
    .beige-background {
        width: 85% !important;
    }

    .content-start h1,
    .content-winner h1,
    .content-game-over h1 {
        font-size: 28px;
    }

    .content-start p,
    .content-winner p,
    .content-game-over p {
        width: 225px;
        font-size: 15px;
    }

    .content-start span,
    .content-winner span,
    .content-game-over span {
        font-size: 15px;
    }

    .winner-button-area {
        gap: 12px;
    }

    .button,
    .button-game-information {
        margin-bottom: 8px;
    }

    .button img,
    .button-game-information img {
        width: 65px;
        height: auto;
        border-radius: 5px;
    }

    .beige-background-game-information {
        height: 165px !important;
        width: 565px !important;
    }

    .content-game-information {
        width: 570px;
        gap: 15px;
    }

    .left-area {
        width: 250px;
        margin-top: 27px;
    }

    .viking-icon-game-information {
        width: 50px;
        margin-top: -2px;
    }

    .content-game-information h2 {
        font-size: 20px;
    }

    .content-game-information p {
        font-size: 15px;
    }

    .button-game-information span {
        font-size: 15px;
    }

    table {
        width: 230px;
        margin-top: 18px;
    }

    td,
    th {
        font-size: 15px;
    }

    td:first-child {
        padding-right: 10px;
    }

    .link-area {
        width: 25%;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .rotate-overlay {
        display: flex;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    body {
        justify-content: center;
        align-items: center;
    }

    .game-wrapper {
        height: 100vh;
        width: auto;
        max-width: none;
        aspect-ratio: 16 / 9;
    }

    .canvas-wrapper {
        height: 100%;
        width: auto;
    }

    canvas {
        height: 100% !important;
        width: auto !important;
    }

    .startscreen {
        height: 100vh;
        width: auto;
        aspect-ratio: 16 / 9;
        margin-bottom: 0;
    }
}

/* @media (max-width: 768px) and (orientation: portrait) and (hover: none) and (pointer: coarse) {
    .rotate-overlay {
        display: flex;
    }
} */

/* @media (orientation: portrait) and (hover: none) and (pointer: coarse) {
    .rotate-overlay {
        display: flex;
    }
} */





/* @media (max-width: 650px) {
    .link-area {
        width: 32%;
    }
} */





/* @media (max-width: 550px) {
    .beige-background {
        width: 70% !important;
    }

    .content-start h1,
    .content-winner h1,
    .content-game-over h1 {
        font-size: 24px;
    }

    .content-start p,
    .content-winner p,
    .content-game-over p {
        width: 210px;
        font-size: 14px;
    }

    .content-start span,
    .content-winner span,
    .content-game-over span {
        font-size: 14px;
    }

    .winner-button-area {
        gap: 10px;
    }

    .button {
        margin-bottom: 8px;
    }

    .button img {
        width: 60px;
        height: auto;
        border-radius: 5px;
    }

    .link-area {
        width: 37%;
    }

    .link span {
        font-size: 16px;
    }

    dialog {
        width: 75%;
        padding: 30px 20px 30px 20px; 
    }

    .imprint-headline {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .imprint-text {
        font-size: 16px;
    }
} */