@media (max-width: 1000px) {
    .game-wrapper {
        width: calc(100% - 40px);
        max-width: none;
    }
}

@media (max-width: 750px) {
    .game-wrapper {
        width: calc(100% - 20px);
        max-width: none;
    }

    .startscreen,
    canvas {
        margin-bottom: 10px;
    }
}

@media (max-width: 660px) {
    dialog {
        padding: 30px 20px 30px 20px; 
    }

    .imprint-headline {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .imprint-text {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .sound-icon {
        width: 24px !important;;
        height: 24px !important;
    }

    .fullscreen-icon,
    .miniscreen-icon {
        width: 17px !important;
        height: 17px !important;
    }

    .home-icon {
        width: 22px !important;
        height: 22px !important;
    }

    .icon-area {
        gap: 4px !important;
    }

    .space {
        width: 0px !important;
    }
}